:root{
    --blanco: rgb(255, 255, 255);
    --negro: rgb(0, 0, 0);
    --primario: #e5e4e2;
    --secundario: #C0C0C0;
    --verde: #B2BEB5;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
}

.titulo{
    text-align: center;
    font-size: 3.8rem;
    font-family: 'Arvo', serif;
    font-weight: normal;
}

.titulo span{
    font-size: 2rem;
}

.contenedor {
    width: 120rem;
    margin: 0 auto;
}

.nav-bg{
    background-color: var(--secundario);
}

.navegacion-principal{
    background-color: var(--primario);
}

